extends layout

block head
  title Bookly | Collection
  
append body
  .container
    for book in books
      h1= book.title
      p= book.author
      img(src=book.coverImg)
      //if book.tradeStatus.isTradeable && book.owner_id !== user._id
      if book.tradeStatus.isTradeable
        a(href="/trade/open/" + book._id) Request Trade
      else
        span Taken
    
    
block script
  script( src="/controllers/user.requestBook.js" type="text/javascript")