extends layout

block head
  title Bookly | Home
  
append body
  .container-fluid.splash
    .container
      p Give a book
      img(src="https://cdn.glitch.com/e211c2ca-41d7-4cfe-ab59-0e8140bc7200%2F153146-200.png?1524622005914")
      p Get a book
  .container
    h1 Join for free!
    ul
      li Catalogue your book collection
      li View all the books our users own
      li Borrow books from other users, and lend out your own
    
block script